@use 'login' as *

// Fondo general
.register-page
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  width: 100vw
  background: linear-gradient(to bottom, #364F68 70%, #A5AFED)
  font-family: 'Poppins', sans-serif
  padding: 1rem

// Caja de registro
.register-box
  background: linear-gradient(to bottom, #13173D, #3e49c3ff)
  padding: 2.8rem 3rem
  border-radius: 1.2rem
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35)
  width: 100%
  max-width: 420px
  text-align: center
  color: #a23636ff
  backdrop-filter: blur(16px)
  display: flex
  flex-direction: column
  align-items: center
  transition: all 0.3s ease

  &:hover
    transform: translateY(-3px)
    box-shadow: 0 0 40px rgba(59, 130, 246, 0.3)

.img-logo
    display: block
    width: 300px
    height: auto
    margin-bottom: 20px

// titulo principal
.titulo
  font-size: 2.5rem
  margin-bottom: 0.5rem
  font-weight: 700
  letter-spacing: 1.5px
  color: #ffffffff

// Grupo de entrada
.input
  display: flex
  align-items: center
  background: rgba(2, 2, 2, 0.95)
  border-radius: 0.8rem
  margin-bottom: 1rem
  padding: 0.6rem 0.9rem
  box-shadow: 0 2px 8px rgba(224, 213, 213, 1)
  transition: all 0.25s ease

  &:focus-within
    box-shadow: 0 0 0 3px rgba(59,130,246,0.4)

  .icon
    width: 22px
    height: 22px
    margin-right: 0.6rem
    opacity: 0.7

  .input
    flex: 1
    border: none
    outline: none
    background: transparent
    font-size: 1rem
    color: #111
    padding: 0.4rem 0


// Botón principal
.register-btn
  background: linear-gradient(90deg, #3b82f6, #2563eb)
  color: white
  border: none
  padding: 0.9rem
  width: 100%
  border-radius: 10px
  font-size: 1.05rem
  font-weight: 600
  cursor: pointer
  margin-top: 0.8rem
  letter-spacing: 0.5px
  transition: all 0.3s ease
  box-shadow: 0 4px 15px rgba(37, 99, 235, 0.4)

  &:hover
    background: linear-gradient(90deg, #2563eb, #1d4ed8)
    box-shadow: 0 6px 20px rgba(37, 99, 235, 0.6)
    transform: translateY(-2px)



// Enlace para iniciar sesión
.login-link
  font-size: 0.9rem
  color: #ffff

  a
    color: #8ae3f7ff // 🌟 Dorado para “Recupérela”
    font-weight: 500
    text-decoration: none
    transition: color 0.25s ease

    &:hover
      color: #ffd700 
      text-shadow: 0 1px 0 rgba(0,0,0,0.2)

.terms-label
  font-size: 0.9rem
  color: #ffff

.terms-link
  color: #8ae3f7ff // 🌟 Dorado para “Recupérela”
  font-weight: 500
  text-decoration: none
  transition: color 0.25s ease

  &:hover
    color: #ffd700 
    text-shadow: 0 1px 0 rgba(0,0,0,0.2)


// Responsividad
@media (max-width: 480px)
  .register-box
    padding: 2rem 1.5rem
    max-width: 95%

  .title
    font-size: 1.8rem

  .input-group
    padding: 0.5rem 0.8rem

  .register-btn, .google-btn
    padding: 0.8rem
    font-size: 0.95rem
